{% macro status_badge(appointment) %}
    {% if appointment.passed %}
        {% if appointment.statusConfirmed %}
            {% if appointment.isPaid %}
                <span class="badge badge-primary">Terminé</span>
            {% else %}
                <span class="badge badge-warning">En attente de paiement</span>
            {% endif %}
        {% else %}
            <span class="badge badge-danger">Trop tard</span>
        {% endif %}
    {% else %}
        {% if appointment.statusPending %}
            <span class="badge badge-warning">En attente</span>
        {% elseif appointment.statusConfirmed %}
            <span class="badge badge-success">Confirmé</span>
        {% elseif appointment.statusCanceled %}
            <span class="badge badge-danger">Annulé</span>
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro payment_status_badge(appointment) %}
    {% if appointment.passed %}
        {% if appointment.isPaid %}
            <span class="badge badge-success">Traité</span>
        {% else %}
            <span class="badge badge-danger">Aucun</span>
        {% endif %}
    {% else %}
        {% if not appointment.statusCanceled %}
            {% if appointment.isPaid %}
                <span class="badge badge-success">Traité</span>
            {% else %}
                <span class="badge badge-info">A venir</span>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro payment_button(appointment) %}
    {% if appointment.statusConfirmed and appointment.passed and not appointment.isPaid %}
        <a href="{{ path('app_appointment_payment_start', {'id': appointment.id}) }}" class="btn-icon">
            {{ icon('credit-card') }}
        </a>
    {% endif %}
{% endmacro %}

{% macro edit_button(appointment) %}
    {% if not appointment.statusCanceled and not appointment.passed %}
        <a href="{{ path('admin_appointment_edit', {'id': appointment.id}) }}"
           class="btn-icon">
            {{ icon('pencil') }}
        </a>
    {% endif %}
{% endmacro %}