<footer class="container-box">
    <div class="flex justify-between items-center gap-4 flex-col-reverse md:flex-row py-8 px-0 border-t border-slate-900/10 dark:border-slate-700">
        <div>
            <p class="text-sm text-slate-900 dark:text-white">© 2024 - Tous droits réservés</p>
        </div>
        <div class="flex gap-4">
            {{ icon('facebook', 20) }}
            {{ icon('twitter', 20) }}
            {{ icon('instagram', 20) }}
            {{ icon('linkedin', 20) }}
        </div>
    </div>
</footer>