.sidebar {
    @apply fixed top-0 left-0 flex flex-col gap-4 w-[300px] min-w-[300px] lg:min-h-svh border-r p-5 xl:p-6
    bg-white text-slate-900 dark:bg-slate-900 dark:text-white z-50
    ease-[cubic-bezier(.5,0,0,1)] duration-500 transition-transform
    dark:border-r-muted;
    height: 100dvh;
}
@supports not (height: 100dvh) {
  .sidebar {
    height: 100vh;
  }
}
.sidebar--nav {
  @apply grow h-full overflow-auto space-y-8 pb-12;
}

.sidebar--nav-title {
  @apply px-4 text-sm text-slate-400 capitalize mb-4;
}
.sidebar--nav-item {
  @apply px-4 py-2 flex items-center gap-3 rounded
  bg-white text-slate-800 hover:text-primary-900 hover:bg-primary-100
  dark:text-white dark:bg-slate-900 dark:hover:text-white dark:hover:bg-slate-800;
  &.active {
    @apply bg-primary-100 text-primary-900 dark:bg-primary-800 dark:text-white;
  }
}
// Sidebar Dropdown
.sidebar--dropdown-button {
  @apply px-4 py-2 flex items-center gap-3 rounded
  bg-white text-slate-950 hover:text-primary-700 hover:bg-primary-100
  dark:text-white dark:bg-slate-900 dark:hover:text-white dark:hover:bg-slate-800;
  &.active {
    @apply bg-primary-100 text-primary-700 dark:bg-primary-800 dark:text-white;
  }
}
.sidebar--dropdown-button-icon {
  @apply ml-auto flex items-center justify-center transform transition-transform duration-300;
}
.sidebar--dropdown-menu {
  @apply w-full origin-top-right;
}
.sidebar--dropdown-menu > .sidebar--dropdown-menu--item {
  @apply ml-8 py-2 px-4 flex items-center gap-3 border-l-2 border-slate-200 dark:border-slate-700 rounded-r bg-white text-slate-950
  hover:text-primary-700 hover:bg-primary-100 dark:text-white dark:bg-slate-900 dark:hover:text-white dark:hover:bg-slate-800;
  &.active {
    @apply bg-white text-primary-700 border-l-primary-700 hover:bg-primary-100 dark:bg-slate-800 dark:text-white dark:border-l-white;
  }
}
.sidebar--footer {
  @apply border-t border-slate-100 mt-auto py-4 dark:border-muted;
  .sidebar--button-subscribe {
    @apply w-full px-4 py-2 flex items-center justify-center gap-1 rounded bg-primary-700 text-white hover:bg-primary-800
    dark:bg-primary-800 dark:hover:bg-primary-900 dark:text-white;
  }
}