{% extends 'base.html.twig' %}

{% block title %}
    Conditions générales d'utilisation
{% endblock %}

{% block body %}
    <div class="container-box py-10 w-full mx-auto">
        <h1 class="text-center text-2xl sm:text-5xl font-semibold text-gray-800 mt-4 mb-10 sm:mb-16">
            Conditions d'utilisation
        </h1>

        <section class="space-y-8">
            <div class="border-b pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 1 - Identification</h3>
                <p class="text text-gray-600 mt-2">
                    Ce site, https://lazarefortune.com, est géré par une personne physique, <a
                            href="https://lazarefortune.com" class="link" target="_blank">Lazare Fortune</a>, et
                    non
                    par une entreprise légale.
                </p>
            </div>

            <div class="border-b pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 2 - Objet</h3>
                <p class="text-gray-600 mt-2">
                    Les présentes CGU ou Conditions Générales d’Utilisation encadrent juridiquement l’utilisation des
                    services du site (ci-après dénommé « Lazare Fortune »).
                    Constituant le contrat entre Lazare Fortune et l’Utilisateur, l’accès au
                    site doit être précédé de l’acceptation de ces CGU. L’accès à ce site signifie l’acceptation des
                    présentes CGU. En cas de non-acceptation des CGU stipulées dans le présent contrat, l’Utilisateur se
                    doit de renoncer à l’accès des services proposés par le site.
                </p>
            </div>

            <div class="border-b pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 3 - Modification des CGU</h3>
                <p class="text-gray-600 mt-2">
                    Lazare Fortune se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes
                    CGU. Les CGU modifiées prendront effet à compter de leur mise en ligne sur le site. L’Utilisateur
                    est
                    donc invité à consulter régulièrement les CGU afin de se tenir informé des éventuelles
                    modifications.
                    L’Utilisateur reconnaît et accepte que son seul recours en cas de désaccord avec les CGU sera de
                    cesser d’utiliser le site.
                </p>
            </div>

            <div class="border-b pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 4 - Responsabilités et
                    Obligations</h3>
                <p class="text-gray-600 mt-2">
                    L'utilisateur est responsable de l'exactitude des informations fournies lors de la prise de
                    rendez-vous ou de toute autre interaction avec le site. Lazare Fortune ne peut être tenu responsable des
                    conséquences liées à des informations erronées ou incomplètes fournies par l'utilisateur.
                </p>
            </div>

            <div class="border-b pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 5 - Données Personnelles</h3>
                <p class="text-gray-600 mt-2">
                    Lazare Fortune collecte des données personnelles dans le cadre de la prise de rendez-vous et pour des
                    promotions spécifiques. Les données collectées peuvent inclure le nom, l'adresse e-mail, le numéro
                    de téléphone et l'âge. Ces données sont utilisées exclusivement pour les services proposés par Hair
                    Star et ne sont pas partagées avec des tiers. Les utilisateurs ont le droit de demander la
                    suppression de leurs données personnelles en utilisant un formulaire dédié sur le site.
                </p>
            </div>

            <div class="pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 6 - Loi Applicable et
                    Juridiction</h3>
                <p class="text-gray-600 mt-2">
                    Les présentes CGU sont régies par la loi française. En cas de litige, les tribunaux français seront
                    seuls compétents.
                </p>
            </div>
        </section>
    </div>
{% endblock %}
