{% extends 'base.html.twig' %}

{% block title %}
    Politique de confidentialité
{% endblock %}

{% block body %}
    <div class="container-box">
        <div class="stack">
            <h1 class="h2">Politique de confidentialité</h1>
            <p>La politique de confidentialité est en cours de rédaction.</p>
        </div>
    </div>
{% endblock %}

