{% extends 'base.html.twig' %}

{% block title %}Mes services{% endblock %}

{% block body %}

    <div class="page-header">
        <div class="container-box">
            <h1 class="h1">
                Mes <span class="text-primary-900">services</span>
            </h1>
            <p class="text-muted">
                Je vous propose des services de qualité pour vous accompagner dans vos projets.
            </p>
        </div>
    </div>

    <main class="container-box py-10 stack-large">
        <div class="my-8 flex flex-col items-center gap-8">
            {% if prestations|length > 0 %}
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 w-full">
                {% for prestation in prestations %}
                    <div class="max-w-sm rounded overflow-hidden shadow-lg reveal">
                        <img src="https://picsum.photos/seed/{{ prestation.id }}/500/500"
                             alt="image"
                             class="w-full h-64 object-cover rounded-md group-hover:opacity-75 transition-opacity duration-500">
                        <div class="px-6 py-4">
                            <div class="text-slate-900 font-bold text-xl mb-2">{{ prestation.name }}</div>
                            <p class="text-slate-500 text-base">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla!
                                Maiores
                                et perferendis eaque, exercitationem praesentium nihil.
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <div class="notification card">
                    Aucune prestation n'est disponible pour le moment.
                </div>
            {% endif %}
        </div>
    </main>

{% endblock %}
