{% extends 'base.html.twig' %}

{% block title %}
    UI Tools Kit
{% endblock %}

{% block body %}
    <div class="bg-gray-200 p-4">
        <div class="mb-10">
            <h1 class="h3">UI</h1>
            <p>Bienvenue sur le site {{ app_name }} </p>
        </div>


        <div class="stack-large">
            <div>
                <small class="text-muted">.stack</small>
                <div class="stack">
                    <div class="card" style="height: 40px !important;"></div>
                    <div class="card" style="height: 40px !important;"></div>
                    <div class="card" style="height: 40px !important;"></div>
                </div>
            </div>

            <div>
                <small class="text-muted">.stack-large</small>
                <div class="stack-large">
                    <div class="card" style="height: 40px !important;"></div>
                    <div class="card" style="height: 40px !important;"></div>
                    <div class="card" style="height: 40px !important;"></div>
                </div>
            </div>

            <div>
                <small class="text-muted">.hstack</small>
                <div class="hstack">
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                    <div class="card" style="width: 40px; height: 40px"></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

