:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1330px;
  }
}

.stack-large {
  display: grid !important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: 2rem;
}

.stack {
  display: grid !important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: 1rem;
}

.hstack {
  @apply flex flex-wrap gap-4;
}

.grid2 {
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid3 {
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 730px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .grid3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.page-wrapper {
  @apply min-h-screen flex flex-col w-full overflow-hidden;
}

.container-box {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.page-header {
  @apply border-b border-slate-200 bg-white text-slate-900 py-[48px]
  dark:bg-dark-soft dark:border-slate-700 dark:text-white;
}

.auth-container {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  max-width: 400px;
}

.text-leading {
  @apply text-primary-900 dark:text-primary-300;
}