/*===== ALL Inter FONTS =====*/

@font-face {
  font-family: 'Inter Var';
  src: url('../../fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

// ------------------------------ Plus Jakarta Sans ------------------------------
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf');
  font-weight: 200;
}

// ------------------------------ IBM Plex Sans ------------------------------
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf');
  font-weight: 200;
}

// ------------------------------ Hanken Grotesk ------------------------------
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../../fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf');
}

a {
  @apply text-primary-800 hover:text-primary-900 no-underline hover:no-underline
  dark:text-primary-300 dark:hover:text-primary-400;
}

p {
  @apply text-base text-slate-900 dark:text-white;
}

.h1 {
  @apply text-4xl font-semibold text-slate-900 dark:text-white;
}

.h2 {
  @apply text-3xl font-semibold text-slate-900 dark:text-white;
}

.h3 {
  @apply text-2xl font-semibold text-slate-900 dark:text-white;
}

.h4 {
  @apply text-xl font-semibold text-slate-900 dark:text-white;
}

.h5 {
  @apply text-lg font-semibold text-slate-900 dark:text-white;
}

.h6 {
  @apply text-base font-semibold text-slate-900 dark:text-white;
}

.text-muted {
  @apply text-zinc-400 dark:text-slate-300;
}

.text-danger {
  @apply text-red-500 dark:text-red-400;
}

h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 *,
.h1, .h2, .h3, .h4, .h5, .h6,
.h1 *, .h2 *, .h3 *, .h4 *, .h5 *, .h6 * {
  @apply font-plusJakartaSans text-slate-900 dark:text-white;
}

.underline-hover-effect {
    display: inline-block;
    //padding-bottom: 0.25em;
    position: relative;
    transition: color 0.3s ease-in-out 0s;
}

.underline-hover-effect::before {
  content: '';
  position: absolute;
  //left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.underline-hover-effect:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.link {
  @apply text-blue-500;
}

@media (min-width: 768px) {
  .link {
    @apply text-blue-600 hover:text-blue-700 underline-hover-effect;
  }
}