@import "tools/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tools/reset";
@import "tools/layout";

/* Pages */
@import "pages/admin/home-dashboard";

/* Modules */
@import "modules/admin/page-layout";
@import "modules/admin/sidebar";
@import "modules/admin/menu";
@import "modules/admin/breadcrumb";
@import "modules/admin/spotlight";
@import "modules/switch";
@import "modules/admin/attachments";
@import "modules/admin/sortable";
@import "modules/admin/chapters";

@import "modules/alert";
@import "modules/notification";
@import "modules/button";
@import "modules/form";
@import "modules/badge";
@import "modules/dropdown";
@import "modules/table";
@import "modules/card";
@import "modules/payment-card";
@import "modules/pagination";
@import "modules/nav-tabs";
@import "modules/reveal";
@import "modules/modal";
@import "modules/scroll-top";
@import "modules/themeswitcher";

/* Libs */
@import "libs/flatpickr";
@import "libs/select2";