alert-floating,
alert-message {
  display: none;
}

.alert {
  display: flex;
  @apply bg-white border border-[#e6e6e6] border-b-[3px] shadow-soft rounded flex items-center relative text-sm text-slate-900
  dark:bg-slate-800 dark:border dark:border-slate-700 dark:text-white dark:border-b-[#e6e6e6];

  @include transition(all);

  @include spacing(margin, 5);
  @include spacing(padding, 3);
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  line-height: 1.2;

  animation: alertIn 0.5s both;

  /* Liens à l'intérieur de l'alerte */
  a {
    @apply underline;
    &:hover {
      @apply no-underline;
    }
  }

  /* Texte fort à l'intérieur de l'alerte */
  strong {
    @apply font-bold;
  }

  /* Animation de sortie */
  &.out {
    animation: alertOut 0.5s both;
  }

  /* Premier SVG à l'intérieur de l'alerte */
  > svg:first-child {
    flex: none;
    width: rem(20); // 1.25rem
    height: rem(20); // 1.25rem
    @include spacing(margin-right, 2);
  }

  /* Bouton de fermeture de l'alerte */
  .alert-close {
    @apply text-slate-900 dark:text-white;
    width: rem(30); // 1.875rem
    flex: none;
    margin-left: auto;
    margin-right: 0;
    opacity: 0.3;
    cursor: pointer;
    @include transition(opacity);

    &:hover {
      opacity: 0.5;
    }

    svg {
      width: rem(20); // 1.25rem
      height: rem(20); // 1.25rem
      @apply text-slate-900 dark:text-white;
    }
  }

  /* Variantes de l'alerte */
  &.alert-danger {
    @apply border-b-red-500 dark:border-b-red-500;

    > svg:first-child {
      @apply text-red-500 dark:text-red-500;
    }
  }

  &.alert-success {
    @apply border-b-green-500 dark:border-b-green-500;

    > svg:first-child {
      @apply text-green-500 dark:text-green-500;
    }
  }

  &.alert-info {
    @apply border-b-blue-500 dark:border-b-blue-500;

    > svg:first-child {
      @apply text-blue-500 dark:text-blue-500;
    }
  }

  &.alert-warning {
    @apply border-b-yellow-500 dark:border-b-yellow-500;

    > svg:first-child {
      @apply text-yellow-500 dark:text-yellow-500;
    }
  }

  /* Barre de progression de l'alerte */
  .alert-progress {
    @apply bg-white;
    height: 3px;
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 100%;
    z-index: 3000;
    transform-origin: 0 100%;
    animation: alertDuration 2s linear both;
  }

  /* Alertes flottantes */
  &.is-floating {
    @apply shadow-soft;
    position: fixed;
    top: rem(20); // 1.25rem
    right: rem(20); // 1.25rem
    max-width: rem(370); // 23.125rem
    z-index: 3000;

    @media (max-width: 767px) {
      top: rem(5); // 0.3125rem
      right: rem(5); // 0.3125rem
      max-width: rem(350); // 21.875rem
    }
  }

  /* Bordures haut et côtés */
  @apply border-t-[#e6e6e6] border-x-[#e6e6e6];
}

@keyframes alertIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes alertOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes alertDuration {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
