{% extends 'base.html.twig' %}

{% block title %}
    Message d'information
{% endblock %}

{% block body %}
    <div class="auth-container py-10">
        <div class="flex items-center justify-center flex-col">
            {{ include('partials/flash.html.twig') }}
            <button class="btn-primary mt-6 w-full" onclick="window.location.href='{{ path('app_home') }}'">
                Retour à l'accueil
            </button>
        </div>
    </div>
{% endblock %}

