.hero {
  @apply pt-10 pb-72 w-full bg-primary-100 dark:bg-dark-soft flex flex-col justify-center items-center overflow-hidden;
}

.hero__body {
  @apply relative w-full flex justify-center;
}

.hero__hello {
  @apply text-2xl text-slate-900 dark:text-white lg:text-4xl font-hanken-grotesk font-normal;
}

.hero__name {
  @apply mx-0 mt-2 mb-4 text-4xl font-medium font-ibmPlexSans text-primary-900 dark:text-primary-400 lg:text-6xl;
}

.hero__job {
  @apply text-lg font-normal font-hanken-grotesk text-slate-700 dark:text-slate-300 lg:text-2xl;
}

.hero__links{
  @apply absolute bottom-20 right-20 hidden lg:flex flex-col space-y-3 text-slate-900 dark:text-white dark:hover:text-primary-300;
}

.hero__cta {
  @apply flex flex-col gap-4 md:flex-row md:justify-center lg:justify-start;
}

.hero__img {
  @apply hidden justify-center lg:flex lg:w-1/2;
}

@keyframes halo {
  0% {
    box-shadow: 0 0 0 0 rgba(93, 33, 210, 0.7);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(93, 33, 210, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(93, 33, 210, 0);
  }
}

.home__push {
  @apply bg-gradient-to-b from-primary-50 to-primary-300 dark:from-primary-800 dark:to-primary-900
  dark:bg-dark-soft-2 dark:text-white;
}

.home__bg {
  display: block;
  position: absolute;
  width: 100.1%;
  height: 100.1%;
  top: 0;
  z-index: 0;
  @apply bg-gradient-to-br from-primary-50 to-primary-100 dark:from-dark-soft-2 dark:to-dark-soft;
  clip-path: polygon(0% 23%,0% 100%,100% 77%,100% 0%);
}