{% extends 'base.html.twig' %}

{% block title 'Toutes mes formations' %}

{% block body %}
    <div class="bg-slate-50 dark:bg-dark-soft-2 z-0">
        <div class="container-box py-10 stack-large">
            <div class="formation__hero">
                <h1 class="h1">Toutes mes <strong>formations</strong></h1>
                <p class="text-muted mt-2">Les formations sont des regroupements de tutoriels pour une thématique donnée.</p>
            </div>

            <div class="formations">
                {% for formation in formations %}
                    {% include 'formations/_formation_item.html.twig' with { 'formation': formation } %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}