<form method="post" action="{{ path('admin_category_service_delete', {'id': category_service.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_service.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
