{% extends 'admin/base.html.twig' %}

{% block title %}Options{% endblock %}

{% block body %}
    <div class="container-box">
        <div class="flex justify-center items-center">
            <ul>
                {% for option in options %}
                    <li>{{ option.name }} {{ option.value }} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
