{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <div class="auth-container my-10">
            {% block auth_body %}{% endblock %}
        </div>
    </div>
{% endblock %}
