{% extends 'base.html.twig' %}

{% block body %}

    <div class="w-full h-screen flex items-start">
        <div class="relative w-1/2 h-full hidden md:flex flex-col">
            <div class="absolute top-[25%] left-[10%] flex flex-col">
                <h1 class="text-4xl">Connexion</h1>

            </div>
            <img src="{{ asset('images/cover-image-auth.jpg') }}" class="w-full h-full object-cover">
        </div>
        <div class="w-full md:w-1/2 h-full bg-[#f5f5f5] flex flex-col p-20 justify-between">
            {#            {% block auth_body %}{% endblock %} #}
            {#            <h1 class="text-xl font-semibold">Connexion</h1> #}
            <h1 class="text-xl font-semibold">Souscris à notre offre Premium</h1>

            <div class="w-full flex flex-col space-y-2">
                <div class="w-full flex flex-col mb-10">
                    <h3 class="text-2xl font-semibold mb-4">Connexion</h3>
                    <p class="text-sm mb-2">Bon retour parmi nous ! Connectez-vous pour accéder à votre compte.</p>
                </div>
                <div class="space-y-1">
                    <label for="email" class="label">E-mail</label>
                    <input type="email" name="email" id="email" value="{{ last_username }}"
                           required="" class="form-input-lg" placeholder="Votre e-mail">
                </div>
                <div class="space-y-1">
                    <label for="password" class="label">
                        Mot de passe
                    </label>
                    <input type="password" name="password" id="password" class="form-input-lg"
                           autocomplete="current-password"
                           required="" placeholder="Votre mot de passe">
                </div>

                <div class="flex items-center justify-between">
                    <label for="remember_me" class="flex items-center">
                        <input id="remember_me" type="checkbox"
                               class="form-checkbox-md"
                               name="remember_me">
                        <span class="ml-2 text-base text-gray-600 dark:text-gray-400">Se souvenir de moi</span>
                    </label>
                </div>

                <button type="submit"
                        class="w-full btn bg-slate-900 py-2.5 px-1.5 text-white">
                    Se connecter
                </button>
            </div>


            <div class="w-full items-center justify-center">
                <p class="text-sm font-normal"> Vous n'avez pas de compte ? <a href="{{ path('app_register') }}"
                                                                               class="text-blue-500">Inscrivez-vous</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
