{% extends 'dashboard/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <h1 class="text-2xl/8 font-semibold text-slate-950 sm:text-xl/8 dark:text-white">Hello, <span class="text-primary-800 dark:text-primary-400">{{ app.user.fullname }}</span> </h1>

    <div class="mt-8">
        <h2 class="text-base font-semibold text-slate-950 dark:text-white">Aperçu</h2>
    </div>

    <div class="mt-4 grid gap-8 sm:grid-cols-2 xl:grid-cols-4">
        <div>
            <hr role="presentation" class="w-full border-t border-zinc-950/10 dark:border-white/10">
            <div class="mt-6 text-lg/6 font-medium sm:text-sm/6">Évènements</div>
            <div class="mt-3 text-3xl/8 font-semibold sm:text-2xl/8">--</div>
            <div class="mt-3 text-sm/6 sm:text-xs/6">
                <span class="inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 text-sm/5 font-medium sm:text-xs/5 forced-colors:outline bg-lime-400/20 text-lime-700 group-data-[hover]:bg-lime-400/30 dark:bg-lime-400/10 dark:text-lime-300 dark:group-data-[hover]:bg-lime-400/15">+4.5%</span>
                <span class="text-zinc-500">from last week</span>
            </div>
        </div>
        <div>
            <hr role="presentation" class="w-full border-t border-zinc-950/10 dark:border-white/10">
            <div class="mt-6 text-lg/6 font-medium sm:text-sm/6">Commandes</div>
            <div class="mt-3 text-3xl/8 font-semibold sm:text-2xl/8">--</div>
        </div>
        <div>
            <hr role="presentation" class="w-full border-t border-zinc-950/10 dark:border-white/10">
            <div class="mt-6 text-lg/6 font-medium sm:text-sm/6">Tickets vendues</div>
            <div class="mt-3 text-3xl/8 font-semibold sm:text-2xl/8">--</div>
        </div>
        <div>
            <hr role="presentation" class="w-full border-t border-zinc-950/10 dark:border-white/10">
            <div class="mt-6 text-lg/6 font-medium sm:text-sm/6">Visites</div>
            <div class="mt-3 text-3xl/8 font-semibold sm:text-2xl/8">--</div>
        </div>
    </div>

{% endblock %}
