.captcha {
  position: relative;
  display: flex;
  border: 1px solid #000;
  width: var(--width);
  height: var(--height);
  background: var(--image);
  touch-action: none;
}
.captcha-piece {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--pieceWidth);
  height: var(--pieceHeight);
  background: var(--image) top right;
}
.captcha-piece::after {
  content: '';
  background: url(../../../../public/images/captcha/piece-halo.png) no-repeat;
  position: absolute;
  width: calc(var(--pieceWidth) + 10px);
  height: calc(var(--pieceHeight) + 10px);
  transform: translate(-4px, 0px);
  transition: .3s;
}
.captcha-piece:hover {
  cursor: move;
}
.captcha:not(.captcha-waiting-interaction) .captcha-piece:not(.is-moving)::after {
  opacity: 0.3;
}