{% extends 'blank.html.twig' %}

{% block body %}

    <div class="flex flex-col justify-center items-center px-6 mx-auto h-screen xl:px-0 dark:bg-gray-900">
        <div class="block md:max-w-lg">
            {% block error_image '' %}
        </div>
        <div class="text-center xl:max-w-4xl">
            <h1 class="mb-3 text-2xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-5xl dark:text-white">
                {% block error_title '' %}
            </h1>
            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
                {% block error_message '' %}
            </p>
            <div class="mt-10 flex flex-col lg:flex-row items-center justify-center gap-x-6 ">
                <a href="{{ path('app_home') }}"
                   class="btn btn-md btn-primary">
                    <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd"></path>
                    </svg>
                    Retour à l'accueil
                </a>
                <a href="" class="btn btn-md btn-outline-primary mt-5 lg:mt-0">
                    Besoin d'aide ?
                    <span aria-hidden="true">&rarr;</span></a>
            </div>

        </div>
    </div>

{% endblock %}