<div class="flex items-center gap-4">
    <button id="sidebar-button" class="btn-sidebar lg:hidden">
        <span id="btnSidebarClose">{{ icon('menu', 24) }}</span>
    </button>
    <div class="header__search">
        <div class="header__search-container">
            <button id="spotlight--trigger" class="header__search-button">
                <span>Rechercher</span>
                <span class="hidden sm:inline">⌘k</span>
            </button>
            <div class="header__search-icon">
                {{ icon('search', 18) }}
            </div>
        </div>
    </div>
</div>